Repository mikededo/mdas: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run validate, npm run format

.lintstagedrc:

{
  "*.js": "npm run validate",
  "*.{json,md}": "npm run format"
}

chore: fix workflows on ci
  .gitlab-ci.yml
Due: none

fix: test with incorrect path
  __tests__/calculator.test.js
Due: npm run validate

add `DS_Store` to `gitignore`
  .gitignore
Due: none

feat: make calculator stati
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

feat: add subtraction operation
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

feat: add divide operation
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

feat: add multiply operation
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

feat: add mod operator
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

fix: fix `multiply` and `divide`
  src/calculator.js
Due: npm run validate

fix: remove `subtract` initial value
  src/calculator.js
Due: npm run validate

test: improve test name
  __tests__/calculator.test.js
Due: npm run validate

test: fix test results
  __tests__/calculator.test.js
Due: npm run validate

feat: add power operator
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

feat: add bioperize operator
  __tests__/calculator.test.js
  src/calculator.js
Due: npm run validate

refactor: move to inner folder
  phds/calculatorjs/README.md
  phds/calculatorjs/__tests__/calculator.test.js
  phds/calculatorjs/jest.config.js
  phds/calculatorjs/package-lock.json
  phds/calculatorjs/package.json
  phds/calculatorjs/src/calculator.js
Due: npm run validate, npm run format

feat(phds): add all projects
  .gitignore
  phds/docker-ex/e.md
  phds/docker-ex/e3/Dockerfile
  phds/docker-ex/e3/index.html
  phds/docker-ex/e4/Dockerfile
  phds/docker-ex/e4/index.html
  phds/docker-ex/e5/docker-compose.yaml
  phds/docker-ex/entregable_1_docker_MiqueldeDomingo.zip
  phds/e1.pdf
  phds/e2.pdf
  phds/k8s-ex/ex.md
  phds/k8s-one/httpbin-deployment.yaml
  phds/k8s-one/httpbin-pod.yaml
  phds/k8s-one/httpbin-service.yaml
  phds/k8s-two/cm-properties.env
  phds/k8s-two/e1/cluster.yaml
  phds/k8s-two/e5/deployment.yaml
  phds/k8s-two/e5/game.properties
  phds/k8s-two/e5/pod.yaml
  phds/k8s-two/e5/ui.properties
  phds/k8s-two/r.md
Due: npm run format

chore: remove `.DS_Store`
  .DS_Store
  .gitignore
Due: none

feat(dsi): weather project
  dsi/s2/.gitignore
  dsi/s2/Makefile
  dsi/s2/README.md
  dsi/s2/composer.json
  dsi/s2/phpunit.xml
  dsi/s2/src/GetForecastPredictionController.php
  dsi/s2/src/Http/Client.php
  dsi/s2/src/Repository/MetaweatherLocationRepository.php
  dsi/s2/src/RequestModel/GetForecastPredictionRequest.php
  dsi/s2/src/UseCase/GetForecastWeatherPredictionUseCase.php
  dsi/s2/src/UseCase/GetForecastWindPredictionUseCase.php
  dsi/s2/src/UseCase/IGetForecastPredictionUseCase.php
  dsi/s2/tests/WeatherTest.php
Due: npm run format

feat(dsi): github-stats submodule
  .gitmodules
Due: none

feat(phds): add `fileparser` submodule
  .gitmodules
Due: none

fix: remove unwanted files
  phds/docker-ex/entregable_1_docker_MiqueldeDomingo.zip
  phds/e1.pdf
  phds/e2.pdf
Due: none

feat: kubernetes exercise
  phds/k8s-ex/e3/example-deployment.yaml
  phds/k8s-ex/e3/example-namespace.yaml
  phds/k8s-ex/e3/example-service.yaml
  phds/k8s-ex/e4/pod.yaml
  phds/k8s-ex/e5/config.properties
  phds/k8s-ex/e5/deployment.yaml
  phds/k8s-ex/e5/secrets.yaml
  phds/k8s-ex/e5/service.yaml
  phds/k8s-ex/e6/certificate/ca.crt
  phds/k8s-ex/e6/certificate/ca.key
  phds/k8s-ex/e6/certificate/ca.srl
  phds/k8s-ex/e6/certificate/csr.conf
  phds/k8s-ex/e6/certificate/server.crt
  phds/k8s-ex/e6/certificate/server.csr
  phds/k8s-ex/e6/certificate/server.key
  phds/k8s-ex/e6/cluster.yaml
  phds/k8s-ex/e6/secrets.yaml
  phds/k8s-ex/e6/service-ingress.yaml
  phds/k8s-ex/ex.md
Due: npm run format

feat: improve gitignore
  .gitignore
Due: none

feat: add dsi solid exercise
  dsi/solid/.eslintrc.yml
  dsi/solid/.gitignore
  dsi/solid/.prettierrc
  dsi/solid/jest.config.json
  dsi/solid/package.json
  dsi/solid/src/bowling.test.ts
  dsi/solid/src/bowling.ts
  dsi/solid/tsconfig.json
  dsi/solid/yarn.lock
Due: npm run format

feat(dbo): add jbdc project
  dbo/.gitignore
  dbo/Dockerfile
  dbo/Makefile
  dbo/README.md
  dbo/assets/ClassDiagram.png
  dbo/data/.gitkeep
  dbo/data/sakila-db.sql.gz
  dbo/docker-compose.yml
  dbo/pom.xml
  dbo/src/main/java/org/mddg/Main.java
  dbo/src/main/java/org/mddg/MySqlConnection.java
  dbo/src/main/java/org/mddg/app/CreateStoreCustomer.java
  dbo/src/main/java/org/mddg/app/GetMostCommonActors.java
  dbo/src/main/java/org/mddg/app/GetMoviesFromGenre.java
  dbo/src/main/java/org/mddg/app/GetStoreLastCreatedCustomer.java
  dbo/src/main/java/org/mddg/app/UpdateCustomer.java
  dbo/src/main/java/org/mddg/controller/ActorController.java
  dbo/src/main/java/org/mddg/controller/Controller.java
  dbo/src/main/java/org/mddg/controller/CustomerController.java
  dbo/src/main/java/org/mddg/controller/MovieController.java
  dbo/src/main/java/org/mddg/controller/StoreController.java
  dbo/src/main/java/org/mddg/domain/Actor.java
  dbo/src/main/java/org/mddg/domain/Movie.java
  dbo/src/main/java/org/mddg/domain/Pair.java
  dbo/src/main/java/org/mddg/domain/Store.java
  dbo/src/main/java/org/mddg/domain/User.java
  dbo/src/main/java/org/mddg/domain/request/CustomerFieldsRequest.java
  dbo/src/main/java/org/mddg/domain/request/Request.java
  dbo/src/main/java/org/mddg/domain/request/SharedQueryRequest.java
Due: npm run format

feat(dm): add `restapi` repository
  .gitmodules
Due: none

feat(fp): initial selenium project implementation
  fp/selenium-testing/.gitignore
  fp/selenium-testing/Jenkinsfile
  fp/selenium-testing/LICENSE
  fp/selenium-testing/README.md
  fp/selenium-testing/build.gradle
  fp/selenium-testing/gradle.properties
  fp/selenium-testing/gradle/wrapper/gradle-wrapper.jar
  fp/selenium-testing/gradle/wrapper/gradle-wrapper.properties
  fp/selenium-testing/gradlew
  fp/selenium-testing/gradlew.bat
  fp/selenium-testing/serenity.properties
  fp/selenium-testing/settings.gradle
  fp/selenium-testing/src/main/java/mddg/selenium/domain/ReservationDTO.java
  fp/selenium-testing/src/main/java/mddg/selenium/pages/PageObjectBase.java
  fp/selenium-testing/src/main/java/mddg/selenium/pages/ReservationPage.java
  fp/selenium-testing/src/main/java/mddg/selenium/pages/ResultsPage.java
  fp/selenium-testing/src/main/resources/logback.xml
  fp/selenium-testing/src/test/java/mddg/selenium/steps/search/DataTableStep.java
  fp/selenium-testing/src/test/java/mddg/selenium/steps/search/SearchStep.java
  fp/selenium-testing/src/test/java/mddg/selenium/tests/search/SearchTest.java
  fp/selenium-testing/src/test/resources/features/reservations/reservation.feature
  fp/selenium-testing/src/test/resources/logback.xml
  fp/selenium-testing/zalenium/docker-compose.yaml
Due: npm run format

feat(fp): selenium exercise report
  fp/selenium-testing/README.md
  fp/selenium-testing/assets/1.png
  fp/selenium-testing/assets/10.png
  fp/selenium-testing/assets/11.png
  fp/selenium-testing/assets/2.png
  fp/selenium-testing/assets/3.png
  fp/selenium-testing/assets/4.png
  fp/selenium-testing/assets/5.png
  fp/selenium-testing/assets/6.png
  fp/selenium-testing/assets/7.png
  fp/selenium-testing/assets/8.png
  fp/selenium-testing/assets/9.png
Due: npm run format

feat(fp): find flight in new opened page
  fp/selenium-testing/src/main/java/mddg/selenium/pages/ResultsPage.java
  fp/selenium-testing/src/test/java/mddg/selenium/steps/search/SearchStep.java
Due: none

feat: update submodules
  .gitmodules
Due: none

feat(nosql): ne04j exercise
  nosql/neo4js.txt
Due: none

feat(nosql): mongodb exercise
  nosql/mongo.txt
Due: none

feat(nosql): cassandra exercise
  nosql/cassandra.txt
Due: none

fix(nosql): update mongodb.txt
  nosql/mongo.txt
Due: none

feat(nosql): hive exercise
  nosql/hive.txt
Due: none

feat(nosql): update hive exercise
  nosql/hive.txt
Due: none

feat(nosql): elastic.txt
  nosql/elastic.txt
Due: none

feat(nosql): hbase exercise
  nosql/hbase.txt
Due: none
